//============================= HEADER =============================================
@mixin setHeaderMobile(){
	header.l-header{
		width:100%;
		div.header-top{
			div.container{
				width:100% !important;
				padding:0 15px;
				box-sizing:border-box;
				ul.header-top-right{
					display:none;
				}
			}
		}
		div.header-bottom{
			div.container{
				width:100% !important;
				padding:0 15px;
				box-sizing:border-box;
				div.contact{
					display:none;
				}
				div.note{
					display:none;
				}
			}
		}
		div.slide-header{
			div.banner-header-desktop{
				display:none;
			}
			div.banner-header-mobile{
				display:block;
				img{
					width:100%;
				}
			}
			div.menu-header{
				ul.menu{
					display:none;
					li{
						float:none;
						height:80px;
						width:100%;
						border-width:1px 0px 1px 0px;
						text-align: center;
						a{
						}
						+ li{
							border-top:0px;
						}

					}
					@include clearfix;
				}
			}
		}
		div.button-menu-header{
			display:inline-block;
			position:absolute;
			top:50px;
			right:30px;
			div.container{
				width:100% !important;
				a{
					display:block;
					@include setFont(1.75rem,#b92d26);
					z-index:1000;
				}
			}
		}
	}
}
//============================= FOOTER =============================================

@mixin setFooterSmall(){
	footer.l-footer{
		div.info-footer{
			background: url('../img/banner_mb_06.png') no-repeat;
			background-size:cover;
			padding: 60px 0;
			div.container{
				@include setWidthContainer();
				div.text{
					@include setFont(1.125rem,#333333,bold);
					padding-bottom:20px;
				}
				p.text-1{
					@include setFont(1.875rem,#333333,400,$font-meiryo);
					padding-bottom:20px;
				}
				p.text-2{
					display:none;
				}
				div.contact{
					background: #b92d26;
					padding:22px 0;
					position:relative;
					div.number{
						@include setFont(2.75rem,#ffffff,500,$font-meiryo);
						img{
							padding:7px 0;
						}
						span.phone{
							padding-top:10px;
						}
						span.tel{
							display:inline-block;
							@include setFont(1.5rem,#ffffff,500,$font-meiryo);
							padding:0;
						}
					}
					div.time{
						@include setFont(1.15rem,#ffffff,400,$font-meiryo);
						padding-bottom:0px;
					}
					&:after{
						content:"\f054";
						 font-family: FontAwesome;
						 position:absolute;
						 right:5%;
						 top: 35%;
						 @include setFont(1.875rem,#FFFFFF)
					}
				}
				a.btn-click{
					width:100%;
					display:inline-block;
					margin:20px 0;
					padding:27px 0;
					position:relative;
					@include setFont(1.25rem,#00559d,bold,$font-meiryo);
					@include border-box;
					border:2px solid #00559d;
					i{
						position:absolute;
						 right:5%;
						 top: 35%;
						 @include setFont(1.875rem,#00559d);
					}
				}
			}
		}
		div.footer-top{
			background: #f4f5f0;
			padding:0;
			div.container{
				padding:0px !important;
				@include setWidthContainer()
				>ul{
					display:none;
					float:left;
					text-align:center;
					float:left;
					width:50%;
					@include border-box;

					> li{
						padding-bottom:0px;
						border:1px solid #dddddd;
						a{
							margin-left:0px;
							padding: 30px 0;
							@include setFont(1.375rem,#333333,400,$font-gothic)
						}
						&:before{
							content:"";
							width:0;
							height:0;
						}
					}
				}
				> ul.list-menu-mobile-1{
					display:block;
				}
				> ul.list-menu-mobile-2{
					display:block;
				}
				@include clearfix;
			}
			@include clearfix;
		}
		div.footer-bottom{
			background: #b92d26;
			div.container{
				@include setWidthContainer()
				text-align: center;
				div.logo-footer{	
					float:none;
					padding:10px 0 0 0;
				}
				div.copy-right{
					float:none;
					padding:20px 0;
					margin-left:0;
					@include setFont(0.6rem,#ffffff,bold,$font-meiryo)
				}
				@include clearfix;
			}
		}
		div.c-back-to-top{
			position:fixed;
			bottom:3%;
			right:10%;
			a{
				display:inline-block;
				width:40px;
				height:40px;
				line-height:40px;
				background: #b92d26;
				text-align: center;

				i{
					@include setFont(14px,#ffffff)
				}
			}
		}
	}
}
//============================= BREADCUM =============================================
@mixin setBreadcumSmall(){
	div.c-breadcum{
		div.container{
			@include setWidthContainer()
			ul.breadcum{
				padding:12px 0;
				li{
					a{
						@include setFont(1.375rem,#114170)

					}
					&.active{
						a{
							@include setFont(1.375rem,#333333)
						}
					}
				}
			}
		}
	}
}
//============================= CONTENT-INDEX =============================================
@mixin setContentSmallIndex(){
	div.c-list-name{
			margin-top:55px;
			display:block;
			div.container{
				@include setWidthContainer();
				padding:0!important;
				ul{
					li{
						position:relative;
						float:left;
						width:50%;
						border:1px solid #dddddd;
						border-width:1px 1px 0 1px;
						@include border-box;
						padding:2% 15px;
						a{
							display:inline-block;
							@include setFont(1.625rem,#333333,bold,$font-gothic)
						}
						&:last-child{
							border-width: 1px 1px 1px 1px;
						}
						&:nth-last-child(2){
							border-width: 1px 1px 1px 1px;
						}
						&:after{
							content:"\f078";
							font-family: FontAwesome;
							position:absolute;
							top:35%;
							right:10%;
							@include setFont(20px,#b92d26);
						}
					}
					@include clearfix;
				}
			}
		}
		div.l-content-index{
		padding:0;
		&:nth-child(2n+1){
			background: rgba(0,0,0,0);
		}
		div.container{
			@include setWidthContainer();
			padding:0px !important;
			div.main-content{
				margin:0;
				&:nth-child(2n){
					background: #fafaf7;
				}
				div.content{
					width:100%;
					float:none;
					padding:60px 15px!important;
					&:nth-child(2n){
						padding:60px 15px!important;
						background: #fafaf7;
					}
					@include border-box;
					div.main-info-1{
						div.img-person{
							width:100%;
							float:none;
							img.desktop{
								display:none;
							}
							img.mobile{
								display:block;
								width:100%;
							}
						}
						div.info-person{
							float:none;
							margin-left:0;
							h3{
								@include setFont(2.215rem,#333333,bold,$font-gothic)
								span{
									@include setFont(1.375rem,#333333,400,$font-gothic)
								}
								margin:40px 0 !important;
							}
							div.title-info-person{
								float:left;
								p{

									@include setFont(1.375rem,#333333,bold,$font-gothic)
									&:last-child{
										padding-bottom:0 !important;
									}
								}
							}
							div.content-info-person{
								float:left;
								p{
									@include setFont(1.375rem,#333333,bold,$font-gothic)
								}
							}
						}
					}
					div.main-info-2{
						margin-top:40px;
						div.twel{
							float:left;
							h3{
								@include setFont(1.375rem,#333333,bold,$font-meiryo)
								padding-right:63px !important;
							}
						}
						div.twel-info{
							width:75%;
							float:left;
							p{
								padding-left:20px !important;
								@include setFont(1.375rem,#333333,400,$font-meiryo)
							}
						}
					}
					div.main-info-3{
						margin-top:40px;
						div.experience{
							float:left;
							h3{
								@include setFont(1.375rem,#333333,bold,$font-meiryo)
								padding-right:19px !important;
							}
						}
						div.experience-info{
							float:left;
							border-left:2px solid #b92d26;
							width:75%;
							ul{

								@include setFont(1.375rem,#333333,400,$font-meiryo)
								li{
									margin-left:40px !important;
								}
							}
						}
					}
				}
			}
		}
	}
	div.margin-content{
		margin-bottom:0px!important;
	}
}
//============================= CONTENT-CHARACTERISTICS =============================================
@mixin setContentCharacteristicsSmall(){
	div.l-characteristics{
		div.container{
			@include setWidthContainer();
			padding:0px !important;
			div.main-content-characteristics{
				margin-bottom:60px;
				position:relative;
				div.box-info-characteristics{
					position:inherit;
					top:0;
					left:0;
					float:none;
					width:100%;
					padding:0 15px !important;
					h2{
						@include setFont(1.875rem,#b92d26,500,$font-meiryo)
						line-height: 36px;
						padding:30px 0 !important;
					}
					p{
						@include setFont(1.375rem,#333333,400,$font-meiryo)
						line-height: 36px;
					}
				}
				div.img-characteristics{
					float:none;
					img.desktop{
						width:100%;
					}
					img.mobile{
						display:none;
					}
				}
				@include clearfix;
				&:nth-child(2n){
					div.box-info-characteristics{
						position:inherit;
						top:0;
						left:0;
						float:none;
					}
					div.img-characteristics{
						float:none;
					}
				}
			}
		}
	}
}
//============================= SERVICE-CHARACTERISTIC=============================================
@mixin setServiceSmall(){
	div.l-service-characteristics{
		background: #fafaf7;
		div.container{
			@include setWidthContainer();
			div.name-service{
					p{
						padding: 50px 0 15px 0px;
					}
			}
			div.list-icons{
					margin:0;
					ul{
						li{
							width:48%;
							height:10%;
							margin-right:20px;
							margin-bottom:20px;
							position:relative;
							text-align: center;
							a{
								img{
									float:none;
									padding:25px 10px 10px 15px;
								}
								p{
									float:none;
									padding:10px 10px 10px 0;
									@include setFont(1.125rem,#333333,bold,$font-meiryo)
								}
								@include clearfix;
							}
							&:after{
								content:"\f054";
								font-family: FontAwesome;
								position:absolute;
								top:40%;
								right:5%;
								@include setFont(20px,#b92d26)
							}
						}
					}
			}
		}
	}
}
//============================= CONTENT-SERVICE=============================================
@mixin setContentServiceSmall(){
	div.l-content-service{
		div.container{
			@include setWidthContainer()
			div.box-info-service{
				margin:0!important;
				div.title-service{
					p{
						display:none;
					}
				}
				div.box-info{
					border: 1px solid #b92d26;
					@include border-box();
					margin-bottom:20px;
					@include border-box;
					padding:40px;
					div.img-service{
						float:none;
						padding-bottom:20px !important;
						img{
							display:inline;
							padding:0!important;
							width:20%;

						}
						a.btn-title{
							text-align: center;
							display:inline-block;
							padding:0px;
							width:77%;
							height:100%;
							line-height: 100px;
							background: #b92d26;
							@include setFont(1.375rem,#ffffff,400,$font-meiryo)
							i{
								margin-left:20px;
							}
						}
					}
					div.info-service{
						float:none;
						width:100%;
						margin:0;
						text-align:left;
						a.btn-title{
							display:none;
						}
						p{
							@include setFont(1rem,#333333,400,$font-meiryo)
							line-height: 36px;
							padding-bottom:22px;
						}
						ul{
							li{
								float:none;
								display:inline;
								a{
									display:inline-block;
									@include setFont(1rem,#114170,400,$font-meiryo)
									margin-right:15px;
									&.active{
										@include setFont(1rem,#114170,400,$font-meiryo)
									}
								}
							}
						}
					}
				}
				div.btn-service{
					text-align: center;
					padding: 10px 0 70px 0;
					a{
						display:inline-block;
						width:100%;
						height:80px;
						text-align: center;
						background: #00559d;
						line-height:80px;
						@include setFont(1.2rem,#FFFFFF,400,$font-meiryo)
						i{
							margin-left:10px;
						}
					}
				}
			}
		}
	}
}
//============================= CONTENT_CONSULTING============================================
@mixin setContentConsultingSmall(){
	div.l-content-consulting{
		div.container{
			@include setWidthContainer();
			padding:0px !important;
			padding-bottom:40px !important;
			background: #fafaf7;
			div.main-consulting{
				margin:0 !important;
				div.list-consulting{
					margin-top:40px;
					ul{
						padding:0 30px;
						background: #f3f3f3;
						li{
							display:none;
							a{
								display:block;
							}
							&:first-child{
								display:block;
								border-bottom:none;
							}
						}
					}
				}
				div.article-01{
					width:100%;
					div.title-article{
						background: #FFFFFF;
						position:relative;
						padding:50px 15px 37px 15px;
						h3{
							@include setFont(2.25rem,#b52622,500,$font-meiryo)
							&:after{
								content:"\f106";
								font-family: FontAwesome;
								position:absolute;
								top:40%;
								right:15px;
							}
						}
					}
					div.description-article{
						margin: 0 15px ;
						padding-bottom:80px !important;
						padding-top:40px !important;
						border-bottom:1px solid #dddddd;
						p{
							@include setFont(1.375rem,#333333,500, $font-meiryo)
							width:100%;
						}
					}
					div.article-left{
						float:left;
						width:100%;
						div.box-article-1{
							border-bottom:1px solid #dddddd;
							padding:40px 0;
							margin: 0 15px;
							h3{
								@include setFont(1.875rem,#333333,500,$font-meiryo)
								padding:0px 0 25px 0;
							}
							ul{
								li{
									a{
										display:inline-block;
										@include setFont(1.375rem,#333333,500,$font-meiryo)
									}
									&:before{
										content: "• ";
	   									@include setFont(1.75rem,#b52521)
	   									margin-top:5px;
									}
								}
							}
						}
					}
					div.article-right{
						display:none;
					}
					@include clearfix;
				}
				div.article-02{
					@include border-box;
					div.article-02-left{
						float:none;
						width:100%;
						h3{
							@include setPaddingAndBackground(#FFFFFF);
							@include setFont(2.25rem,#b52622,500,$font-meiryo)
							padding-bottom:35px !important;
							padding-top:40px !important;
							position:relative;
							&:after{
								content:"\f106";
								font-family: FontAwesome;
								position:absolute;
								top:35%;
								right:15px;
							}
						}
						p{
							@include setFont(1.375rem,#333333,500,$font-gothic)
							line-height: 36px;
							width:95%;
							margin:0 15px;
							@include border-box;
							&:last-child{
								padding-bottom:40px;
								border-bottom:1px solid #dddddd;
							}
							&:nth-of-type(1){
								padding-top:40px;
								border-top:1px solid #dddddd;
							}
						}
					}
					div.article-02-right{
						float:none;
						img{
							display:none;
						}
					}
				}
				div.info-article{
					@include setPaddingAndBackground();
					h3{
						@include setFont(1.875rem,#333333,500,$font-meiryo)
						padding:40px 0 30px 0 !important;
					}
					img.desktop{
						display:none;
					}
					img.mobile{
						display:block;
						width:100%;
					}
				}
			}
		}
		div.c-btn-web{
			@include setPaddingAndBackground();
			a.btn-click{
				width:100%;
				padding-top:20px !important;
				padding-bottom:20px !important;
			}
		}
	}
}
//============================= CONTENT_PROFILE============================================
@mixin setContentProFileSmall(){
	div.l-content-profile{
		div.container{
			@include setWidthContainer()
			div.main-profile{
				margin: 0 !important;
				div.form-profile{
					margin-bottom:40px;
					div.box-form{
						background: rgba(0,0,0,0);
						div.form-left{
							float:none;
							width:100%;
							padding:40px 0 0 0 !important;
							background: rgba(0,0,0,0);
							p{
								@include setFont(1.375rem,#333333,bold,$font-meiryo)
								padding-left:0px;
							}
						}
						div.form-right{
							width:100%;
							background: rgba(0,0,0,0);
							float:none;
							padding:30px 0 40px 0px;
							@include border-box;
							p{
								@include setFont(1.375rem,#333333,400,$font-meiryo)
							}
						}
					}
				}
				div.main-info-profile-1, div.main-info-profile-2{
					div.title-info-profile{
						border-bottom:1px solid #dddddd;
						padding-bottom:30px !important;
						h2{
							@include setFont(2.25rem,#b52622,500,$font-meiryo)
						}
					}
					div.box-info-profile{
						float:none;
						width:100%;
						height:100%;
						@include border-box;
						border-bottom:1px solid #dddddd;
						margin-right:40px;
						&:last-child{
							border-bottom:1px solid #dddddd;
						}
						div.title-box{
							h3{
								@include setFont(1.875rem,#333333,500,$font-meiryo)
							}
						}
						div.box-info{
							padding-bottom:40px;
							margin-right: 40px;
							table{
								border-collapse:collapse;
								@include border-box;
								tr{
									th{
										width:20%;
										p{
											padding-right:15px !important;
											@include setFont(1.375rem,#333333,bold,$font-meiryo)
										}
										&:last-child{
											p{
												padding-bottom:0 !important;
											}
										}
									}
									td{
										vertical-align:top;
										padding-bottom:10px;
										p{
											padding-left:15px !important;
											@include setFont(1.375rem,#333333,400,$font-meiryo)
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}