//============================= HEADER =============================================
@mixin setHeaderExtraSmall(){
	header.l-header{
		div.header-bottom{
			div.container{
				div.logo{
					width:70%;
					img{
						width:100%;
					}
				}
			}
		}
		div.button-menu-header{
			display:inline-block;
			position:absolute;
			top:40px;
			right:20px;
			div.container{
				width:100% !important;
				a{
					display:block;
					@include setFont(1.75rem,#b92d26);
					z-index:1000;
				}
			}
		}
	}
}
//============================= FOOTER =============================================
@mixin setFooterExtraSmall(){
	footer.l-footer{
			div.info-footer{
				background: url('../img/banner_mb_06.png') no-repeat;
				background-size:cover;
				padding: 30px 0;
				div.container{
					@include setWidthContainer();
					div.text{
						@include setFont(1rem,#333333,bold);
						padding-bottom:10px;
					}
					p.text-1{
						@include setFont(1.25rem,#333333,400,$font-meiryo);
						padding-bottom:20px;
					}
					p.text-2{
						display:none;
					}
					div.contact{
						background: #b92d26;
						padding:22px 0;
						position:relative;
						div.number{
							@include setFont(1.25rem,#ffffff,500,$font-meiryo);
							img{
								padding:0;
								width:40px;
								height:40px;
							}
							span.phone{
								padding-top:0px;
							}
							span.tel{
								display:inline-block;
								@include setFont(1rem,#ffffff,500,$font-meiryo);
								padding:0;
							}
						}
						div.time{
							@include setFont(0.6rem,#ffffff,400,$font-meiryo);
							padding-bottom:0px;
						}
						&:after{
							content:"\f054";
							 font-family: FontAwesome;
							 position:absolute;
							 right:5%;
							 top: 40%;
							 @include setFont(1.25rem,#FFFFFF)
						}
					}
					a.btn-click{
						width:100%;
						display:inline-block;
						margin:20px 0;
						padding:27px 0;
						position:relative;
						@include setFont(0.8rem,#00559d,bold,$font-meiryo);
						@include border-box;
						border:2px solid #00559d;
						i{
							position:absolute;
							 right:8%;
							 top: 39%;
							 @include setFont(0.75rem,#00559d);
						}
					}
				}
			}
			div.footer-top{
				background: #f4f5f0;
				padding:0;
				div.container{
					padding:0px !important;
					@include setWidthContainer()
					>ul{
						display:none;
						float:left;
						text-align:center;
						float:left;
						width:50%;
						@include border-box;

						> li{
							padding-bottom:0px;
							border:1px solid #dddddd;
							a{
								margin-left:0px;
								padding: 30px 0;
								@include setFont(0.75rem,#333333,400,$font-gothic)
							}
							&:before{
								content:"";
								width:0;
								height:0;
							}
						}
					}
					> ul.list-menu-mobile-1{
						display:block;
					}
					> ul.list-menu-mobile-2{
						display:block;
					}
					@include clearfix;
				}
				@include clearfix;
			}
			div.footer-bottom{
				background: #b92d26;
				div.container{
					@include setWidthContainer()
					text-align: center;
					div.logo-footer{	
						float:none;
						padding:10px 0 0 0;
					}
					div.copy-right{
						float:none;
						padding:20px 0;
						margin-left:0;
						@include setFont(0.6rem,#ffffff,bold,$font-meiryo)
					}
					@include clearfix;
				}
			}
			div.c-back-to-top{
				position:fixed;
				bottom:3%;
				right:10%;
				a{
					display:inline-block;
					width:40px;
					height:40px;
					line-height:40px;
					background: #b92d26;
					text-align: center;

					i{
						@include setFont(14px,#ffffff)
					}
				}
			}
		}
}
//============================= CONTENT-INDEX =============================================
@mixin setContentExtraSmallIndex(){
		div.c-list-name{
				margin-top:20px;
				display:block;
				div.container{
					@include setWidthContainer();
					padding:0!important;
					ul{
						li{
							position:relative;
							float:left;
							width:50%;
							border:1px solid #dddddd;
							border-width:1px 1px 0 1px;
							@include border-box;
							padding:2% 15px;
							a{
								display:inline-block;
								@include setFont(1rem,#333333,bold,$font-gothic)
							}
							&:last-child{
								border-width: 1px 1px 1px 1px;
							}
							&:nth-last-child(2){
								border-width: 1px 1px 1px 1px;
							}
							&:after{
								content:"\f078";
								font-family: FontAwesome;
								position:absolute;
								top:25%;
								right:10%;
								@include setFont(0.625rem,#b92d26);
							}
						}
						@include clearfix;
					}
				}
			}
			div.l-content-index{
			padding:0;
			&:nth-child(2n+1){
				background: rgba(0,0,0,0);
			}
			div.container{
				@include setWidthContainer();
				padding:0px !important;
				div.main-content{
					margin:0;
					&:nth-child(2n){
						background: #fafaf7;
					}
					div.content{
						width:100%;
						float:none;
						padding:20px 15px!important;
						&:nth-child(2n){
							padding:60px 15px!important;
							background: #fafaf7;
						}
						@include border-box;
						div.main-info-1{
							div.img-person{
								width:100%;
								float:none;
								img.desktop{
									display:none;
								}
								img.mobile{
									display:block;
									width:100%;
								}
							}
							div.info-person{
								float:none;
								margin-left:0;
								h3{
									@include setFont(1.5rem,#333333,bold,$font-gothic)
									span{
										@include setFont(1rem,#333333,400,$font-gothic)
									}
									margin:40px 0 !important;
								}
								div.title-info-person{
									float:left;
									p{

										@include setFont(0.75rem,#333333,bold,$font-gothic)
										&:last-child{
											padding-bottom:0 !important;
										}
									}
								}
								div.content-info-person{
									float:left;
									p{
										@include setFont(0.75rem,#333333,bold,$font-gothic)
									}
								}
							}
						}
						div.main-info-2{
							margin-top:40px;
							div.twel{
								float:left;
								h3{
									@include setFont(0.75rem,#333333,bold,$font-meiryo)
									padding-right:44px !important;
								}
							}
							div.twel-info{
								width:60%;
								float:left;
								p{
									padding-left:20px !important;
									@include setFont(0.75rem,#333333,400,$font-meiryo)
								}
							}
						}
						div.main-info-3{
							margin-top:40px;
							div.experience{
								float:left;
								h3{
									@include setFont(0.75rem,#333333,bold,$font-meiryo)
									padding-right:19px !important;
								}
							}
							div.experience-info{
								float:left;
								border-left:2px solid #b92d26;
								width:60%;
								ul{

									@include setFont(0.75rem,#333333,400,$font-meiryo)
									li{
										margin-left:40px !important;
									}
								}
							}
						}
					}
				}
			}
		}
		div.margin-content{
			margin-bottom:0px!important;
		}
}
//============================= CONTENT-CHARACTERISTICS =============================================
@mixin setContentCharacteristicsExtraSmall(){
	div.l-characteristics{
		div.container{
			@include setWidthContainer();
			padding:0px !important;
			div.main-content-characteristics{
				margin-bottom:30px;
				div.box-info-characteristics{
					position:inherit;
					top:0;
					left:0;
					float:none;
					width:100%;
					padding:0 15px !important;
					h2{
						@include setFont(1.25rem,#b92d26,500,$font-meiryo)
						line-height: 25px;
						padding:10px 0 !important;
					}
					p{
						@include setFont(0.75rem,#333333,400,$font-meiryo)
						line-height: 25px;
					}
				}
				div.img-characteristics{
					float:none;
					img.desktop{
						width:100%;
					}
					img.mobile{
						display:none;
					}
				}
				@include clearfix;
				&:nth-child(2n){
					div.box-info-characteristics{
						position:inherit;
						top:0;
						left:0;
						float:none;
					}
					div.img-characteristics{
						float:none;
					}
				}
			}
		}
	}
}
//============================= SERVICE-CHARACTERISTIC=============================================
@mixin setServiceExtraSmall(){
	div.l-service-characteristics{
			background: #fafaf7;
			div.container{
				@include setWidthContainer();
				div.name-service{
					p{
						@include setFont(1rem,#333333,bold)
						padding: 50px 0 15px 0px;
					}
				}
				div.title-service{
					text-align: center;
					h2{
						@include setFont(1.25rem,#b92d26,400,$font-meiryo)
						padding-bottom:40px !important;
					}
				}
				div.list-icons{
					margin:0;
					ul{
						li{
							width:46%;
							height:10%;
							margin-right:20px;
							margin-bottom:20px;
							position:relative;
							text-align: center;
							a{
								img{
									float:none;
									padding:25px 10px 10px 15px;
								}
								p{
									float:none;
									padding:10px 10px 10px 0;
									@include setFont(0.6rem,#333333,bold,$font-meiryo)
								}
								@include clearfix;
							}
							&:after{
								content:"\f054";
								font-family: FontAwesome;
								position:absolute;
								top:40%;
								right:5%;
								@include setFont(20px,#b92d26)
							}
						}
					}
				}
			}
	}
}
//============================= CONTENT-SERVICE=============================================
@mixin setContentSeriveExtraSmall(){
	div.l-content-service{
		div.container{
			@include setWidthContainer()
			div.box-info-service{
				margin:0!important;
				div.title-service{
					p{
						display:none;
					}
				}
				div.box-info{
					border: 1px solid #b92d26;
					@include border-box();
					margin-bottom:20px;
					@include border-box;
					padding:30px;
					div.img-service{
						float:none;
						padding-bottom:20px !important;
						img{
							display:inline;
							padding:0!important;
							width:30%;

						}
						a.btn-title{
							text-align: center;
							display:inline-block;
							padding:0px;
							width:68%;
							height:70px;
							line-height: 70px;
							background: #b92d26;
							@include setFont(0.5rem,#ffffff,400,$font-meiryo)
							i{
								margin-left:20px;
							}
						}
					}
					div.info-service{
						float:none;
						width:100%;
						margin:0;
						text-align:left;
						a.btn-title{
							display:none;
						}
						p{
							@include setFont(1rem,#333333,400,$font-meiryo)
							line-height: 36px;
							padding-bottom:22px;
						}
						ul{
							li{
								float:none;
								display:inline;
								a{
									display:inline-block;
									@include setFont(1rem,#114170,400,$font-meiryo)
									margin-right:15px;
									&.active{
										@include setFont(1rem,#114170,400,$font-meiryo)
									}
								}
							}
						}
					}
				}
				div.btn-service{
					text-align: center;
					padding: 10px 0 70px 0;
					a{
						display:inline-block;
						width:100%;
						height:70px;
						text-align: center;
						background: #00559d;
						line-height:70px;
						@include setFont(1.2rem,#FFFFFF,400,$font-meiryo)
						i{
							margin-left:10px;
						}
					}
				}
			}
		}
	}
}
//============================= CONTENT_CONSULTING============================================
@mixin setContentConsultingExtraSmall(){
	div.l-content-consulting{
		div.container{
			@include setWidthContainer();
			padding:0px !important;
			padding-bottom:40px !important;
			background: #fafaf7;
			div.main-consulting{
				margin:0 !important;
				div.list-consulting{
					margin-top:40px;
					ul{
						padding:0 30px;
						background: #f3f3f3;
						li{
							display:none;
							a{
								display:block;
								font-size: 0.75rem;
							}
							&:first-child{
								display:block;
								border-bottom:none;
							}
						}
					}
				}
				div.article-01{
					width:100%;
					div.title-article{
						background: #FFFFFF;
						position:relative;
						padding:50px 15px 37px 15px;
						h3{
							@include setFont(1.25rem,#b52622,500,$font-meiryo)
							&:after{
								content:"\f106";
								font-family: FontAwesome;
								position:absolute;
								top:40%;
								right:15px;
							}
						}
					}
					div.description-article{
						margin: 0 15px ;
						padding-bottom:40px !important;
						padding-top:20px !important;
						border-bottom:1px solid #dddddd;
						p{
							@include setFont(1rem,#333333,500, $font-meiryo)
							width:100%;
						}
					}
					div.article-left{
						float:left;
						width:100%;
						div.box-article-1{
							border-bottom:1px solid #dddddd;
							padding:20px 0;
							margin: 0 15px;
							h3{
								@include setFont(1.25rem,#333333,500,$font-meiryo)
								padding:0px 0 25px 0;
							}
							ul{
								li{
									a{
										display:inline-block;
										@include setFont(1rem,#333333,500,$font-meiryo)
									}
									&:before{
										content: "• ";
	   									@include setFont(1.25rem,#b52521)
	   									margin-top:5px;
									}
								}
							}
							&:last-child{
								border-bottom:none;
							}
						}
					}
					div.article-right{
						display:none;
					}
					@include clearfix;
				}
				div.article-02{
					@include border-box;
					&:first-child{
						border-bottom:1px solid #dddddd;
					}
					div.article-02-left{
						float:none;
						width:100%;
						h3{
							@include setPaddingAndBackground(#FFFFFF);
							@include setFont(1.25rem,#b52622,500,$font-meiryo)
							padding-bottom:35px !important;
							padding-top:40px !important;
							position:relative;
							&:after{
								content:"\f106";
								font-family: FontAwesome;
								position:absolute;
								top:35%;
								right:15px;
							}
						}
						p{
							@include setFont(1rem,#333333,500,$font-gothic)
							line-height: 36px;
							width:93%;
							margin:0 15px;
							@include border-box;
							&:last-child{
								padding-bottom:40px;
								border-bottom:1px solid #dddddd;
							}
							&:nth-of-type(1){
								padding-top:40px;
								border-top:1px solid #dddddd;
							}
						}
					}
					div.article-02-right{
						float:none;
						img{
							display:none;
						}
					}
				}
				div.info-article{
					@include setPaddingAndBackground();
					h3{
						@include setFont(1.25rem,#333333,500,$font-meiryo)
						padding:40px 0 30px 0 !important;
					}
					img.desktop{
						display:none;
					}
					img.mobile{
						display:block;
						width:100%;
					}
				}
			}
		}
		div.c-btn-web{
			@include setPaddingAndBackground();
			margin:30px 0 40px 0;
			a.btn-click{
				@include setFont(0.75rem,#00559d)
				width:100%;
				padding-top:20px !important;
				padding-bottom:20px !important;
			}
		}
	}
}
//============================= CONTENT_PROFILE============================================
@mixin setContentProFileExtraSmall() {
	div.l-content-profile{
		div.container{
			@include setWidthContainer()
			div.main-profile{
				margin: 0 !important;
				div.form-profile{
					margin-bottom:40px;
					div.title-form{
						padding:20px 0px;
						p{
							@include setFont(1rem,#333333,400,$font-meiryo)
						}
					}
					div.box-form{
						background: rgba(0,0,0,0);
						div.form-left{
							float:none;
							width:100%;
							padding:10px 0;
							background: (0,0,0,0);
							p{
								@include setFont(1rem,#333333,bold,$font-meiryo)
								padding-left:0px;
							}
						}
						div.form-right{
							width:100%;
							background: (0,0,0,0);
							float:none;
							padding:10px 0 10px 0px;
							p{
								@include setFont(1rem,#333333,400,$font-meiryo)
							}
						}
					}
				}
				div.main-info-profile-1, div.main-info-profile-2{
					div.title-info-profile{
						padding-bottom:30px;
						border-bottom:1px solid #dddddd;
						h2{
							@include setFont(1.575rem,#b52622,500,$font-meiryo)
						}
					}
					div.box-info-profile{
						float:left;
						width:100%;
						height:100%;
						@include border-box;
						border-bottom:1px solid #dddddd;
						margin-right:40px;
						&:last-child{
							border-bottom:1px solid #dddddd;
						}
						div.title-box{
							padding-top:40px;
							h3{
								@include setFont(1.2rem,#333333,500,$font-meiryo)
								padding-bottom:18px !important;
							}
						}
						div.box-info{
							table{
								tr{
									th{
										vertical-align:top;
										border-right: 2px solid #b92d26;
										width:30%;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}