div.c-breadcum{
	background: #f6f6f6;
	div.container{
		ul.breadcum{
			padding:22px 0;
			li{
				float:left;
				a{
					@include setFont(0.75rem,#114170,400,$font-meiryo)
					i{
						margin:0 5px;
					}
				}
				&:last-child{
					&:after{
						content:"";
					}
				}
				&.active{
					a{
						@include setFont(0.75rem,#333333,400,$font-meiryo)
					}
				}
			}
			@include clearfix;
		}
	}
}